<form [formGroup]="formNew">
  <div class="container-sm p-5">
    <div class="row p-4 m-4 mt-1 mb-1">
      <div class="col-md-12"><h1>Registrar Producto</h1></div>
      <div *ngIf="mensaje" class="alert alert-success mt-3" role="alert">
        {{ mensaje }}
      </div>
    </div>
    <div class="row p-4 m-4 mt-1 mb-1">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre de Producto</label>
        <input
          type="text"
          class="form-control"
          formControlName="nombre"
          id="nombre"
          placeholder="Nombre"
        />
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio</label>
        <input
          type="number"
          class="form-control"
          id="precio"
          formControlName="precio"
          placeholder="Precio"
        />
      </div>
    </div>
    <div class="row p-4 m-4 mt-1 mb-1">
      <div class="col-md-12 d-flex justify-content-end">
        <button routerLink="/producto" class="btn btn-secondary btn-lg m-1">
          Regresar
        </button>
        <button (click)="guardarProducto()" class="btn btn-primary btn-lg m-1">
          Guardar
        </button>
      </div>
    </div>
  </div>
</form>
